<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://kit.fontawesome.com https://ka-f.fontawesome.com; script-src 'self' https://kit.fontawesome.com; style-src 'self' 'unsafe-inline' https://ka-f.fontawesome.com">
    
    <title>Electron App</title>
    <link rel="stylesheet" href="./source/css/fonts.min.css">
    <link rel="stylesheet" href="./source/css/index.min.css">
    <script src="https://kit.fontawesome.com/dbd1c218fe.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="titlebar" role="navigation" aria-label="Window controls">
        <div class="titlebar-left">
            <div class="window-controls">
                <button class="window-close"></button>
                <button class="window-minimize"></button>
            </div>
            <button class="toggle-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <button class="toggle-start">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <main class="main-content1 active">
        <form class="search-form hidden">
            <input type="text" class="search-input" placeholder="Search & Commands" aria-label="Search">
        </form>
        <div class="content-wrapper">
            <div class="programs-list">
                <div class="scroll-spacer"></div>
            </div>
            <div class="systems-menu"></div>
        </div>
        <div class="drive-info"></div>
    </main>
    <main class="main-content2">
        <nav class="start-sidemenu" role="navigation" aria-label="Side navigation">
            <button class="sidemenu-item" aria-label="Start">
                <i class="fa-solid fa-house"></i>
            </button>
            <button class="sidemenu-item" aria-label="Account">
                <i class="fa-solid fa-user"></i>
            </button>
            <button class="sidemenu-item" aria-label="Assistant">
                <i class="fa-solid fa-robot"></i>
            </button>
            <button class="sidemenu-item" aria-label="Terminal">
                <i class="fa-solid fa-terminal"></i>
            </button>
            <button class="sidemenu-item" aria-label="Calculator">
                <i class="fa-solid fa-calculator"></i>
            </button>
        </nav>
        <div class="start-content">
            <h1>Start Content</h1>
        </div>
        <div class="account-content">
            <h1>Account Content</h1>
        </div>
        <div class="assistant-content">
            <h1>Assistant Content</h1>
        </div>
        <div class="terminal-content">
            <h1>Terminal Content</h1>
        </div>
        <div class="calculator-content">
            <h1>Calculator Content</h1>
        </div>
    </main>
    
    <script src="source/java/renderer.js"></script>
</body>
</html>
